.stopwatchNav {
    background-color: #003b46;
}

.stopwatch {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restTimer {
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}